     <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script type= "text/x-handlebars-template" src="/app.js"></script>
      {{#each userInfo}}
    <table class="docs">
        <tbody>
            <tr>  
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.EmpId}}</td>    
            </tr>
        </tbody>
    </table>
    {{/each}}